<h1>New Contacto</h1>

<%= render 'form', contacto: @contacto %>

<div class="row">
 <div class="col s12">
   <%= link_to 'Atras', contactos_path, class: 'waves-effect waves-light btn', style: 'color: white' %>
 </div>
</div>
